.bgEDF1FF
{
    background-color: #EDF1FF;
}

.bgC1CFFF
{
    background-color: #C1CFFF;
}

.header-height
{
    min-height: 78px;
}

.c000C35
{
    color: #000C35;
}
.c4D52BC
{
    color: #4D52BC;
}
.text-hover
{
    transition: 0.5s ease; 
}
.text-hover:hover
{
    transition: 0.3s;
    color: #4D52BC;
}

.features-block
{
    border-left: #4D52BC 4px solid;
}
.w-31p
{
    width: 31%;
}
.cEDF1FF
{
    background-color: #EDF1FF;
}

.h452
{
    height: 452px;
}

.bgcF8F9FF
{
    background-color: #F8F9FF;
}

.bgcC1CFFF
{
    background-color: #C1CFFF;
}

.borrtop
{
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid rgb(63, 70, 75);
    position: absolute;
    top: 50%;
    margin-top: -1px;
}

.got-account
{
    background-color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 0px 1px 0px 1px;
    position: relative;
    z-index: 2;
}

.border-1
{
    border-width: 1px;
}

.text-xxs
{
    font-size: 10px;
}

.profile-block
{
    margin-top: 102px;
    width: 1600px;
}

.uniq-input
{
    outline: none;
    border-bottom: 2px solid rgb(77, 83, 188, 0.3);
    height: 32px;
    width: 400px;
    background-color: transparent;
}

.h532
{
    height: 532px;
}

.mw-1265
{
    max-width: 1235px;
}

.bgcFDFDFD
{
    background-color: #FDFDFD;
}

.max-w-8xl
{
    max-width: 1355px;
}

.transaction
{
    border-bottom: 0.5px rgba(77, 82, 188, 0.6) solid;
}

.mx-671
{
    max-width: 671px;
}

.top-w
{
    width: 527.50px;
}

.stupid
{
    min-width: 1920px;
}

.bor-b-bottom
{
    border-bottom: 1px black solid;
}

select
{
    outline: none !important;
    border: none;
    border-bottom: 2px solid black; 
}

select:focus
{
    outline: none !important;
    border: none;
    border-bottom: 2px solid black;
}

.puk
{
    min-height: calc(100vh - 1px);
}

.w-22
{
    width: 5.5rem;
}

.left-bar
{
    max-width: 84px;
}

.bgfbfbfb
{
    background-color: #fbfbfb;
}

.min-w-500
{
    min-width: 500px;
}

input
{
    background: transparent;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.max-h-full {
    max-height: 100%;
}
.flex {
    display: flex;
}
.z-50 {
    z-index: 50;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.left-0 {
    left: 0;
}
.fixed {
    position: fixed;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-auto {
    overflow-y: auto;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.max-h-full {
    max-height: 100%;
}
.h-\[calc\(100\%-1rem\)\] {
    height: calc(100% - 1rem);
}
.flex {
    display: flex;
}
.z-50 {
    z-index: 50;
}
.top-0 {
    top: 0px;
}
.right-0 {
    right: 0px;
}
.left-0 {
    left: 0px;
}
.fixed {
    position: fixed;
}

.bg-dark
{
    background: rgb(0, 0, 0, 0.3);
}

.min-w-460
{
    min-width: 440px;
}

.max-w-460
{
    max-width: 440px;
}

.max-h-650
{
    max-height: 650px;
}

.max-w-1516
{
    max-width: 1516px;
}

.max-h-790
{
    max-height: 790px;
}
.max-h-900
{
    max-height: 880px;
}

.transactionBodyContainer
{
    box-shadow: 2px 4px 16px -1px rgba(0, 0, 0, 0.08);
}

.max-w-1220
{
    max-width: 1220px;
}

.bgc171717
{
    background-color: #171717;
}
.bgc202124
{
    background-color: #202124;
}
.overflow-descision
{
    overflow: hidden;
}

@media (min-width: 768px) {
    .md\:inset-0 {
        inset: 0;
    }
}

@media (min-width: 768px) {
    .md\:inset-0 {
        inset: 0px;
    }
}

@media screen and (max-width: 1600px) {
    .left-flex
    {
        margin-left: 20px;
    }
    .right-flex
    {
        margin-left: 20px;
    }
    .profile-wrapper
    {
        padding: 40px 30px 40px 30px;
        width: 90%;
        height: auto;
    }
    .input-side
    {
        margin: 20px auto;
        justify-content: center;
    }
    .profile-side
    {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1300px) {
    .divided-screen
    {
        flex-wrap: wrap;
    }
    body
    {
        overflow-y: initial;
    }
    .overflow-descision
    {
        overflow-y: visible;
    }
    .conjoined-block
    {
        flex-direction: row;
        width: auto;
        margin: 0;
    }
    .conjoined-block > a > img
    {
        padding: 0;
    }
    .right-bar
    {
        padding: 0 20px 0 20px;
    }
    .left-bar
    {
    max-width: 100%;
    }
    .adapt-grid
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:40px
    }
    .left-block
    {
        width: calc(100%);
    }
    .adapt-flexible
    {
        display: block;
    }
    .left-bar
    {
        display: flex;
        flex-direction: row;
        width: auto;
        min-height: auto;
        align-items: center;
        padding-top: 4px;
        padding-bottom: 4px;
        justify-content: space-around;
    }

    .logout-img
    {
        margin: 0;
    }
    .logout-button
    {
        right: 4rem;
        width: auto;
        position: initial;
        padding-top: 0;
        display: block;
        margin: 0;
    }

    .left-bar > a > img
    {
        padding: 0;
    }
}

@media screen and (max-width: 1115px) {
    .reports-block
    {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1114px) {
    .reports-block
    {
        justify-content: space-around;
    }
}

@media screen and (max-width: 700px) {
    .left-block
    {
        padding: 0px 10px 0px 10px;
    }
    .top-info
    {
        padding: 0;
    }
}